$primary: #007bff

body
	background: #f4f4f4

.navbar
	&.be-top-header
		background: #f7f7f7
		border: none

.nav
	&-tabs
		background-color: transparent
		border: none !important
		.nav-link
			background: #c4c4c4
			border: none !important
			border-radius: 3px 3px 0 0 !important
			color: #fff !important
			font-size: 20px
			padding: 15px 30px !important
			&:hover
				background: rgba(#000, .5) !important
			&.active
				background: $primary !important
				color: #fff !important

.landing-page
	h1
		font-weight: 500
		font-size: 5em
		margin-bottom: 60px
	p
		font-size: 1.2em
		margin-bottom: 60px

	.btn
		border-radius: 0
		padding: 8px 50px

.be
	&-left-sidebar
		background: #fff
		border: none !important
		-webkit-box-shadow: 1px 0 1px rgba(#000, 0.1)
		box-shadow: 1px 0 1px rgba(#000, 0.1)
		.sidebar
			&-elements
				> li > a
					font-size: 14px
					font-weight: 400
					// padding: 10px 20px
					&.active
						position: relative
						&:after
							background: $primary
							border-radius: 999px
							content: ''
							height: 10px
							position: absolute
							right: 10px
							top: 50%
							-webkit-transform: translate(-50%, -50%)
							-ms-transform: translate(-50%, -50%)
							-o-transform: translate(-50%, -50%)
							transform: translate(-50%, -50%)
							width: 10px
					.icon
						margin-right: 10px
						vertical-align: middle
						width: 10px
					span
						vertical-align: middle
	&-content
		padding-left: 15px
		padding-right: 15px
	&-right-navbar
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row

.search-form
	.input-group
		background: #fff
		border-radius: 5px
		color: #c4c4c4
		width: 100%
		.be-left-sidebar &
			background: rgba(#000, .1)
			border-radius: 0
			color: #555
		.form-control
			background-color: transparent
			border: none
			color: inherit
			padding-left: 20px
		.btn
			background-color: transparent
			border: none !important
			color: inherit
			padding-right: 20px
			.icon
				font-size: 2rem
		



.widget
	box-shadow: none
	&-head
		.title
			font-size: 2em
			font-weight: 400
		.sub-title
			font-size: 14px
			font-weight: 500
		.title,
		.sub-title
			b
				color: #000
				font-weight: 700
			small
				color: #C3BDBD
				font-size: 14px
.card
	box-shadow: none
	padding: 0
	&-header
		margin: 0 !important
		padding: 1.538rem
	&-title
		font-size: 1em
		font-weight: 400
	&-sub-title
		font-size: 14px
		font-weight: 500
	&-title,
	&-sub-title
		b
			color: #000
			font-weight: 700
		small
			color: #C3BDBD
			font-size: 14px

.page
	&-head
	padding-left: 0
	&-title
		font-weight: 300
		.btn
			border-radius: 3px

.form
	&-label
		font-size: 17px
		font-weight: 600
	&-control
		border: 1px solid  #CCD2D6
		border-radius: 5px
		height: 50px
		padding: 10px 15px
		&-sm
			height: 30px
			padding: 5px 10px
		&-dark
			background: rgba(#000, .5)
			color: #fff
			border: none !important
			&:focus
				background: rgba(#000, .7)
				color: #fff
.custom-control-label
	font-size: 15px
	font-weight: 500

.btn
	border-radius: 0
	&-radius
		border-radius: 3px
		&-top
			border-radius: 3px 3px 0 0
	&-round
		border-radius: 999px
	&-sm
		padding: 2px 10px
	&-wide
		padding-left: 40px
		padding-right: 40px
	&-default
		color: #777
	&-danger
		background: #ED166F
	&-primary
		background: #0C6CD7
	&-grey
		background: #c4c4c4
		color: #fff
	&-light
		background: #f6f6f6
		border: none
		color: #000
		&:hover
			background: rgba(#000, .1)


.table
	text-align: center
	&-borderless.table
		thead 
			tr 
				th
					border: none
					color: #aaa
					font-weight: normal
					
.flex-center
	align-items: center
	display: -webkit-inline-flex
	display: -moz-inline-flex
	display: -ms-inline-flex
	display: -o-inline-flex
	display: inline-flex
	justify-content: center

.tab-content
	background: transparent
	padding: 0


.label
	border-radius: 999px
	font-size: .8em
	padding: 2px 10px

.collapse-toggle
	&:not(.collapsed)
		-webkit-transform: rotate(180deg)
		-ms-transform: rotate(180deg)
		-o-transform: rotate(180deg)
		transform: rotate(180deg)
