body {
  background: #f4f4f4; }

.navbar.be-top-header {
  background: #f7f7f7;
  border: none; }

.nav-tabs {
  background-color: transparent;
  border: none !important; }
  .nav-tabs .nav-link {
    background: #c4c4c4;
    border: none !important;
    border-radius: 3px 3px 0 0 !important;
    color: #fff !important;
    font-size: 20px;
    padding: 15px 30px !important; }
    .nav-tabs .nav-link:hover {
      background: rgba(0, 0, 0, 0.5) !important; }
    .nav-tabs .nav-link.active {
      background: #007bff !important;
      color: #fff !important; }

.landing-page h1 {
  font-weight: 500;
  font-size: 5em;
  margin-bottom: 60px; }

.landing-page p {
  font-size: 1.2em;
  margin-bottom: 60px; }

.landing-page .btn {
  border-radius: 0;
  padding: 8px 50px; }

.be-left-sidebar {
  background: #fff;
  border: none !important;
  -webkit-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1); }
  .be-left-sidebar .sidebar-elements > li > a {
    font-size: 14px;
    font-weight: 400; }
    .be-left-sidebar .sidebar-elements > li > a.active {
      position: relative; }
      .be-left-sidebar .sidebar-elements > li > a.active:after {
        background: #007bff;
        border-radius: 999px;
        content: '';
        height: 10px;
        position: absolute;
        right: 10px;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 10px; }
    .be-left-sidebar .sidebar-elements > li > a .icon {
      margin-right: 10px;
      vertical-align: middle;
      width: 10px; }
    .be-left-sidebar .sidebar-elements > li > a span {
      vertical-align: middle; }

.be-content {
  padding-left: 15px;
  padding-right: 15px; }

.be-right-navbar {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.search-form .input-group {
  background: #fff;
  border-radius: 5px;
  color: #c4c4c4;
  width: 100%; }
  .be-left-sidebar .search-form .input-group {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0;
    color: #555; }
  .search-form .input-group .form-control {
    background-color: transparent;
    border: none;
    color: inherit;
    padding-left: 20px; }
  .search-form .input-group .btn {
    background-color: transparent;
    border: none !important;
    color: inherit;
    padding-right: 20px; }
    .search-form .input-group .btn .icon {
      font-size: 2rem; }

.widget {
  -webkit-box-shadow: none;
  box-shadow: none; }
  .widget-head .title {
    font-size: 2em;
    font-weight: 400; }
  .widget-head .sub-title {
    font-size: 14px;
    font-weight: 500; }
  .widget-head .title b,
  .widget-head .sub-title b {
    color: #000;
    font-weight: 700; }
  .widget-head .title small,
  .widget-head .sub-title small {
    color: #C3BDBD;
    font-size: 14px; }

.card {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0; }
  .card-header {
    margin: 0 !important;
    padding: 1.538rem; }
  .card-title {
    font-size: 1em;
    font-weight: 400; }
  .card-sub-title {
    font-size: 14px;
    font-weight: 500; }
  .card-title b, .card-sub-title b {
    color: #000;
    font-weight: 700; }
  .card-title small, .card-sub-title small {
    color: #C3BDBD;
    font-size: 14px; }

.page {
  padding-left: 0; }
  .page-title {
    font-weight: 300; }
    .page-title .btn {
      border-radius: 3px; }

.form-label {
  font-size: 17px;
  font-weight: 600; }

.form-control {
  border: 1px solid  #CCD2D6;
  border-radius: 5px;
  height: 50px;
  padding: 10px 15px; }
  .form-control-sm {
    height: 30px;
    padding: 5px 10px; }
  .form-control-dark {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none !important; }
    .form-control-dark:focus {
      background: rgba(0, 0, 0, 0.7);
      color: #fff; }

.custom-control-label {
  font-size: 15px;
  font-weight: 500; }

.btn {
  border-radius: 0; }
  .btn-radius {
    border-radius: 3px; }
    .btn-radius-top {
      border-radius: 3px 3px 0 0; }
  .btn-round {
    border-radius: 999px; }
  .btn-sm {
    padding: 2px 10px; }
  .btn-wide {
    padding-left: 40px;
    padding-right: 40px; }
  .btn-default {
    color: #777; }
  .btn-danger {
    background: #ED166F; }
  .btn-primary {
    background: #0C6CD7; }
  .btn-grey {
    background: #c4c4c4;
    color: #fff; }
  .btn-light {
    background: #f6f6f6;
    border: none;
    color: #000; }
    .btn-light:hover {
      background: rgba(0, 0, 0, 0.1); }

.table {
  text-align: center; }
  .table-borderless.table thead tr th {
    border: none;
    color: #aaa;
    font-weight: normal; }

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.tab-content {
  background: transparent;
  padding: 0; }

.label {
  border-radius: 999px;
  font-size: .8em;
  padding: 2px 10px; }

.collapse-toggle:not(.collapsed) {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
  @base:#212121;
@color:silver;
@accent:#27ae60;
@borderRadius:4px;

.twoToneCenter {
    text-align:center;
    margin:1em 0;
}
.twoToneButton {
    display: inline-block;
    border:1px solid darken(@base,50%);
    outline:none;
    padding:10px 20px;
    line-height: 1.4;
    background: @base; 
    background: linear-gradient(to bottom,  lighten(@base,20%) 0%,lighten(@base,15%) 50%,darken(@base,5%) 51%,darken(@base,2.5%) 100%);      
    border-radius: @borderRadius;
    border: 1px solid darken(@base,30%);
    color:lighten(@color,10%);
    text-shadow: darken(@color,80%) -1px -1px 0px;
    
    position: relative;
    transition: padding-right .3s ease;
    font-weight:700;
    box-shadow:0 1px 0 lighten(@base,30%) inset, 0px 1px 0 lighten(@base,10%);
    
}

.twoToneButton:hover {
    box-shadow:0 0 10px darken(@base,10%) inset, 0px 1px 0 lighten(@base,10%);
    color:lighten(@color,20%);
}

.twoToneButton:active{
    box-shadow:0 0 10px darken(@base,10%) inset, 0px 1px 0 lighten(@base,10%);
    color:lighten(@color,30%);
    background: darken(@base,10%); 
    background: linear-gradient(to bottom,  lighten(@base,10%) 0%,lighten(@base,5%) 50%,darken(@base,5%) 51%,darken(@base,10%) 100%);  
    
}

.twoToneButton.spinning {
    background-color: @base;
    padding-right: 40px;
}
.twoToneButton.spinning:after {
    content: '';
    position: absolute;
    right: 6px;
    top: 50%;
    width: 0;
    height: 0;
    box-shadow: 0px 0px 0 1px darken(@base,10%);
    position: absolute;
    border-radius: 50%;
    animation: rotate360 .5s infinite linear, exist .1s forwards ease;
}

.twoToneButton.spinning:before {
    content: "";
    width: 0px;
    height: 0px;
    border-radius: 50%;
    right: 6px;
    top: 50%;
    position: absolute;
    border: 2px solid darken(@base,40%);
    border-right: 3px solid @accent;
    animation: rotate360 .5s infinite linear, exist .1s forwards ease ;
    
}



@keyframes rotate360 { 
    100% {
        transform: rotate(360deg);
    }
}
@keyframes exist { 
    100% {
        width: 15px;
        height: 15px;
        margin: -8px 5px 0 0;
    }
}

body {background:@base; }

  